Repository fingon/lixie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt-templ-guide, golangci-lint

.pre-commit-config.yaml:

repos:
# These are good pretty much anywhere

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0  # Use the ref you want to point at
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    # - id: check-symlinks
    - id: check-yaml
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: forbid-submodules
    - id: mixed-line-ending
    # - id: pretty-format-json
    - id: trailing-whitespace

- repo: meta
  hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

# Local configuration

- repo: local
  hooks:

  - id: fmt-templ-guide
    name: "Reformat templ.guide templates"
    language: system
    files: \.templ$
    entry: templ fmt

  - id: golangci-lint
    name: "Run golangci-lint"
    language: system
    types: [go]
    pass_filenames: false
    entry: make lint

Regenerate templ files
  base_templ.go
  log.templ
  log_rule.templ
  log_rule_summary_templ.go
  log_rule_templ.go
  log_templ.go
  main.templ
  main_templ.go
Due: fmt-templ-guide, golangci-lint

Makefile,requirements: Added simple ones to run the lixie2vector
  Makefile
  requirements.txt
Due: none

Convert ignoredStreamKeys to a map
  data/config.go
  data/db.go
Due: golangci-lint

Add some extra field keys by default when adding rule
  data/config.go
  data/db.go
Due: golangci-lint

Start using structured logging for the little we do
  cm/cm_test.go
  cm/parse.go
  main.go
  main_test.go
Due: golangci-lint

Added bulkmatch - much, much faster matching of logs to rules
  README.md
  data/bulkmatch.go
  data/db.go
  data/log.go
Due: golangci-lint

templ, exp bump
  base_templ.go
  go.mod
  go.sum
  log_rule_summary_templ.go
  log_rule_templ.go
  log_templ.go
  main_templ.go
Due: golangci-lint

Remove last printfs - replace with slog
  README.md
  main.go
Due: golangci-lint

Add rate limiter on Loki access failures, and initial fetch get non-spam
  data/source_loki.go
  main.go
Due: golangci-lint

Dum Loki accewss failures to log too - they seem not to pop up in HTTP API
  data/source_loki.go
Due: golangci-lint

Go 1.23, templ 0.3
  base_templ.go
  go.mod
  go.sum
  log_rule_summary_templ.go
  log_rule_templ.go
  log_templ.go
  main_templ.go
Due: golangci-lint

Upgrade to golangci-lint v2
  .golangci.yaml
  cm/parse.go
Due: golangci-lint

Bump golangci-lint action
  .github/workflows/build.yaml
Due: none
