Repository fingon/lixie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt-templ-guide, golangci-lint

.pre-commit-config.yaml:

repos:
# These are good pretty much anywhere

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0  # Use the ref you want to point at
  hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    # - id: check-symlinks
    - id: check-yaml
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: forbid-submodules
    - id: mixed-line-ending
    # - id: pretty-format-json
    - id: trailing-whitespace

- repo: meta
  hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

# Local configuration

- repo: local
  hooks:

  - id: fmt-templ-guide
    name: "Reformat templ.guide templates"
    language: system
    files: \.templ$
    entry: templ fmt

  - id: golangci-lint
    name: "Run golangci-lint"
    language: system
    types: [go]
    pass_filenames: false
    entry: make lint

.github: Add concurrency handling, pre-commit, just one job
  .github/workflows/push.yaml
Due: none

.github: Removed pre-commit - it should not run anything not run elsewhere anyway
  .github/workflows/push.yaml
Due: none

Added really primitive main page
  README.md
  base_templ.go
  log_rule_templ.go
  log_templ.go
  main.go
  main.templ
  main_templ.go
Due: fmt-templ-guide, golangci-lint

fts: If handed limit, stop filtering beyond that point
  fts.go
Due: golangci-lint

Add back index handling to log rule list (it was accidentally removed)
  log_rule_list.go
Due: golangci-lint

log_list: Added magic handling for post requests to update the counts too
  README.md
  log.templ
  log_list.go
  log_templ.go
Due: fmt-templ-guide, golangci-lint

Add codecov.io coverage
  .github/workflows/push.yaml
  Makefile
Due: none

Added hello-world-grade test for main and refactored it to be bit more testable
  .gitignore
  main.go
  main_test.go
Due: golangci-lint

Create dependabot.yml
  .github/dependabot.yml
Due: none

.github: Make workflow run also on PRs, rename push->build
  .github/workflows/build.yaml
Due: none

Bump generated files to templ 0.2.680
  base_templ.go
  log_rule_templ.go
  log_templ.go
  main_templ.go
Due: golangci-lint

Add localhost:8080 back to gitignore
  .gitignore
Due: none

lixie2vector: Support regexp source matches
  lixie2vector.py
Due: none

Added parallelized rule matching, upgraded deps
  base_templ.go
  data/db.go
  go.mod
  go.sum
  log_rule.go
  log_rule_templ.go
  log_templ.go
  main_templ.go
  util.go
Due: golangci-lint

Makefile: Fix templ version to match go.mod
  Makefile
Due: none

Makefile: Added better serve target
  Makefile
Due: none

DB.LogRules separate object, related cleanup
  README.md
  data/db.go
  data/log.go
  log_list.go
  log_rule.go
  log_rule_list.go
  main.templ
  main_templ.go
Due: fmt-templ-guide, golangci-lint

Added /version endpoint in preparation of adding live reloading
  Makefile
  main.go
  version.go
Due: golangci-lint

Converted /version endpoint to dump json
  version.go
Due: golangci-lint

Implemented very, very lame hot reload
  Makefile
  base.templ
  base_templ.go
  log.go
  log.templ
  log_list.go
  log_rule.go
  log_rule.templ
  log_rule_list.go
  log_rule_templ.go
  log_templ.go
  main.go
  main.templ
  main_templ.go
  state.go
  version.go
Due: fmt-templ-guide, golangci-lint

.github: Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Added summary page, fixed log rule update bug, moved some more logic to data/
  Makefile
  data/db.go
  data/log_rule.go
  go.mod
  go.sum
  log_rule.go
  main.templ
  main_templ.go
  state.go
Due: fmt-templ-guide, golangci-lint

.github: Fix target branch (this uses master and not main)
  .github/workflows/build.yaml
Due: none

README: Log rule summary was done, just sorting+scrolling left
  README.md
Due: none

Makefile: Added sub-package coverage too
  Makefile
Due: none

data: Added forgotten unittest file
  .gitignore
  data/db_test.go
Due: golangci-lint

data: Fix deadlock in ClassifyHash
  data/db.go
Due: golangci-lint

Dump all rule statistics, not just top-K (cheap enough)
  main.templ
  main_templ.go
  state.go
Due: fmt-templ-guide, golangci-lint

main: Better styling
  main.templ
  main_templ.go
Due: fmt-templ-guide, golangci-lint

Fix rules path
  lixie2vector.py
Due: none

Added fancy looking sorting criteria to main page
  README.md
  log_rule_summary.go
  log_rule_summary.templ
  log_rule_summary_templ.go
  main.go
  main.templ
  main_templ.go
Due: fmt-templ-guide, golangci-lint

Makefile: Create non-dev sample
  Makefile
Due: none

Move rssort defaulting from the internal utility function to the config init
  log_rule_summary.go
  main.go
Due: golangci-lint

Convert to gofumpt
  .golangci.yaml
  cm/cm_test.go
  data/db.go
  data/log.go
  log_list.go
  log_rule.go
  log_rule_summary.go
  log_rule_test.go
  main.go
  page.go
Due: golangci-lint

README: Add codecov badge
  README.md
Due: none

data: Added some unit tests
  data/db_test.go
Due: golangci-lint

Add canned log handling for unittesting main, some cleanup related to it
  data/db.go
  data/db_test.go
  data/log_rule_test.go
  data/loki.go
  data/source_array.go
  data/source_loki.go
  data/util.go
  log_list.go
  log_rule.go
  main.go
  main.templ
  main_templ.go
  main_test.go
  testdata/db.json
  testdata/logs.json
Due: fmt-templ-guide, golangci-lint

README: Moar badges
  README.md
Due: none

Add custom codecov configuration
  Makefile
  codecov.yml
Due: none

README: Update
  README.md
Due: none
